
@{
    ViewData["Title"] = "jQuery";
}

<h1>jQuery</h1>
<button id="buttonGet" class="btn btn-primary">get</button>
<button id="buttonPost" class="btn btn-secondary">post</button>
<button id="buttonJson" class="btn btn-success">getJson</button>
<button id="buttonLoad" class="btn btn-info">load</button>
<button id="buttonAjax" class="btn btn-warning">ajax</button>
<button id="buttonCors" class="btn btn-danger">cors</button>
<div class="alert alert-dark mt-3 w-50" role="alert" id="divAlert">
    <ul></ul>
</div>
@section Scripts{
    <script>
        $('#buttonGet').click(function () {
            $.get('@Url.Content("~/api/getdemo")', { "name": "Tom", "age": 30 }, function (data) {       
                $('#divAlert').text(data)
            })

        })
        $('#buttonPost').click(function () {
            $.post('@Url.Content("~/api/getdemo")',{"name":"Jack","age":28},function(data){
             $('#divAlert').text(data)
            })
           
        })

        $('#buttonJson').click(function () {
        $.getJSON('@Url.Content("~/api/Cities")', function (datas) {
          
            const theUl = $('#divAlert>ul');
            const docFrag = $(document.createDocumentFragment()) 
            $.each(datas, function (idx, city) {
                const item = $('<li></li>').text(city)
            docFrag.append(item) 
            })
       
            theUl.html(docFrag)
                   
                })
        })
        
       
        $('#buttonLoad').click(function () {
            $('#divAlert').load('@Url.Content("~/home/Partial")')
        })
        $('#buttonAjax').click(function () {
            $.ajax({
                'url': '@Url.Content("~/api/Cities")',  
                'type': 'get',  //post
              
                'dataType': 'json'       
            })
                .done(function (data) {
                    const theUl = $('#divAlert>ul');
                    const docFrag = $(document.createDocumentFragment()) //建立一個空元素(容器)
                    $.each(data, function (idx, city) {
                        const item = $('<li></li>').text(city)
                        docFrag.append(item)
                    })
                    theUl.html(docFrag)
                    //  $('#divAlert').text(data)
                })

        })

        $('#buttonCors').click(function () {      
            $.getJSON('https://localhost:7220/api/Shippers', function (datas) {
                console.log(datas)
            })
        })

    </script>
}